body{
    background-color:rgba(145, 59, 226, 0.707);
    color:rgb(0, 0, 0) /*text color, css*/;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h5{
    display:inline;
    text-align:center;
    font-style:italic;
    background-color: lightgoldenrodyellow;
    font-weight:bolder;
    font-size:large
}
a{
    color:rgb(242, 196, 136);
}
a:visited{
    color:aquamarine
}
img{
    border: 7px solid fuchsia;
    padding: 3px;
    margin: 5px; /*between content, called the box model*/
    /*how to center the pictures below*/
    /* display: block;
    margin: auto; */
}
.imgcenter{
    display: block;
    margin: auto;
}
.rizz{
    border: 10px solid forestgreen;
    padding: 11px;
    margin: 12px;
}
li{
    text-decoration: overline;
}
li:hover{
    text-decoration:underline;
}
